<tr>
    <td>
      <img src="./images/dashboard/<%= brand.brand %>.png" style = "width: 50px;">
      <%= brand.brand %></td>
    <td><%= brand.Number_of_cars %> vehicles on the road</td>
    <td class=" font-weight-medium"><%= brand.Precent_of_cars %>% </td>
</tr>